@model IEnumerable<Customer>
@{
    Layout = "~/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background-image: url("/Images/urban-438393_1920.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Subscribe</th>
            <th>Age</th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Subscription_Type
                </td>
                <td>
                    @item.Age_
                </td>
            </tr>

        }

    </table>

</body>
</html>
